<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | megagroudon</title>
    <link rel="shortcut icon" href="../img/megagroudon.png">
</head>

<body>
    <h1>megagroudon</h1>
    <img style=width:79% src="../img/megagroudon.png" alt="megagroudon">
    <p>tipo: <span style="background-color:rgb(255, 136, 0);padding: 2px;border-radius: 5px;color: rgb(0, 0, 0);">Fuego</span>
        <p>tipo: <span style="background-color:rgb(211, 177, 105);padding: 2px;border-radius: 5px;color: rgb(0, 0, 0);">Tierra</span>
</body>

</html>