<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Palkia</title>
    <link rel="shortcut icon" href="../img/Palkia.png">
    <style>
        body {
            background-image: url("")
        }
        
        img {
            width: 27%;
        }
    </style>
</head>

<body>
    <h1>Palkia</h1>
    <img style=width:79% src="../img/Palkia.png" alt="Palkia">
    <p>tipo: <span style="background-color:rgb(2, 0, 109);padding: 2px;border-radius: 5px;color: white;">Dragón</span>
        <p>tipo: <span style="background-color:rgb(0, 118, 197);padding: 2px;border-radius: 5px;color: rgb(255, 255, 255);">Agua</span>
            <p>Descripcion:</p>
            <p>Palkia es de tipo agua, debido a que las perlas se encuentran en el océano. Se trata de un gran Pokémon dragón creado por Arceus que tiene el poder de controlar el espacio a su merced y puede teletransportarse a través de este.</p>
</body>

</html>